{{ template "header" . }}
{{ template "admin_header" . }}

<main class="lyear-layout-content">
	<div class="container-fluid">
		<div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><h4>授权信息&nbsp;<span style="cursor: default;" class="badge bg-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="引擎启动且连接状态下注册账号后登录即可获得一天的试用时长，赞助用户可以到qq群中把赞助截图和邮箱发给群主，或发送到邮箱 1249851115@qq.com 获取授权" title="" data-original-title="">?</span></h4>
                    {{ if eq .Lic.Status 1 }}
                    <div style="position: absolute; top: 10px; right: 25px; margin: 0;">
                        {{ .Lic.Name }}&nbsp;&nbsp;
                        <button class="btn btn-info btn-xs" 
                            type="button" onclick="tdBtnPOST(this)" name="logout">
                            退出
                        </button>
                    </div>
                    {{ else }}
                    <div style="position: absolute; top: 10px; right: 25px; margin: 0;">
                        <button class="btn btn-info btn-xs" 
                            type="button"
                            data-toggle="modal" data-target="#register">
                            注册
                        </button>&nbsp;
                        <button class="btn btn-info btn-xs" 
                            type="button"
                            data-toggle="modal" data-target="#login">
                            登录
                        </button>
                    </div>  
                    {{end}}
                    </div>
                    <div class="card-body" style="position: relative;">
                        <p>机器码：{{ .Lic.ID }}</p>
                        <p>授权状态：{{ if eq .Lic.Type 0 }}<font color="red">未授权</font>{{ else if eq .Lic.Type 1 }}<font color="#33a996">已授权</font>{{ else if eq .Lic.Type 2 }}<font color="#33a996">永久授权</font>{{else}}<font color="red">未授权</font>{{ end }}</p>
                        <p>过期时间：{{ if eq .Lic.Type 2 }}永久授权{{else}}{{ .Lic.ExpStr }}{{ end }}</p>
                    </div>
                </div>
                <div class="modal fade" id="register" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#lickey').val('');"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">注册</h4>
                            </div>
                            <form method="post" action="/admin/license">
                                <div class="modal-body">
                                    <div class="form-group has-feedback feedback-left">
                                        <input type="text" placeholder="请输入邮箱" class="form-control" name="name" id="rname" />
                                        <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group has-feedback feedback-left">
                                        <input type="password" placeholder="请输入密码" class="form-control" id="rpwd" name="pwd" />
                                        <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group has-feedback feedback-left">
                                        <input type="password" placeholder="确认密码" class="form-control" id="rpwd2" name="pwd2" />
                                        <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" name="register">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#lickey').val('');">关闭</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="login" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#lickey').val('');"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">登录</h4>
                            </div>
                            <form method="post" action="/admin/license">
                                <div class="modal-body">
                                    <div class="form-group has-feedback feedback-left">
                                        <input type="text" placeholder="请输入邮箱" class="form-control" name="name" id="name" />
                                        <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group has-feedback feedback-left">
                                        <input type="password" placeholder="请输入密码" class="form-control" id="pwd" name="pwd" />
                                        <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" name="login">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#lickey').val('');">关闭</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
			</div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><h4>引擎状态</h4>
                        <button class="btn btn-info" onclick="resEng()"
                            style="position: absolute; top: 10px; right: 25px; margin: 0;">
                            重启引擎
                        </button>
                    </div>
                    <div class="card-body" style="position: relative;">
                        <p>引擎状态：{{ if eq .Status 1 }}<font color="#33a996">运行中</font>{{else}}<font color="red">已下线</font>{{ end }}</p>
                        <p>连接状态：{{ if eq .Online 1 }}<font color="#33a996">已连接</font>{{else}}<font color="red">已下线</font>{{ end }}</p>
                        <p>引擎版本：{{ .Version }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="btn btn-info btn-xs" style="margin:0;" onclick="updatalic()">检测更新</label></p>
                    </div>
                </div>
			</div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h4>功能开关</h4></div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>中转访问</h4>
                            {{ if eq .Lic.Type 0 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if eq .Lic.Type 0 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="input-group"> 
                                    <div style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap;">
                                        <!-- <label style="white-space: nowrap;">中转地址:</label> -->

                                        <div id="scheme" style="width: 70px;"></div>
                                        <span style=" color: #000000;">://</span>

                                        <input class="form-control" type="text" id="pAddr" name="pAddr"
                                            value="{{ .ProxyAddr }}" placeholder="源中转的地址" {{ if eq .Proxy 1 }}disabled{{ end }}
                                            style="width: 250px; min-width: 150px; flex: 1;">

                                        <span style="color: #000000;">:</span>

                                        <input class="form-control" type="number" name="port" value="{{ .Port }}"
                                            placeholder="端口 (82-65535)"
                                            min="82" max="65535" step="1"
                                            {{ if eq .Proxy 1 }}disabled{{ end }}
                                            style="width: 85px; min-width: 85px; flex: 0 0 auto;">
                                    </div>
                                    <small class="help-block" style="margin-left: 10px;">
                                        提示：源中转的地址，当后台和源中转使用不同域名或ip时，请手动修改这个地址, 端口为容器8080映射出来的端口，若有外网映射，请改为外网端口
                                    </small>
                                </div>
                                <div class="form-inline">
                                    
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>开启中转:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" name="proxy" onchange="submitFormPOST(this)" {{if eq .Proxy 1}}checked{{end}}/>
                                            <span></span>
                                        </label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="btn btn-info btn-xs"  style="margin:0;" onclick="checkProxy()">可用性检测</label>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>分辨率&&延迟测试</h4>
                            {{ if eq .Lic.Type 0 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if eq .Lic.Type 0 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>自动识别:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" name="autoRes" onchange="submitFormPOST(this)" {{if eq .AutoRes 1}}checked{{end}}/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <small class="help-block">提示：源更新时自动测试分辨率和延迟，CPU、内存占用较大，谨慎开启！！！可以手动单条测试分辨率</small>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>自动禁用:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" name="disCh" onchange="submitFormPOST(this)" {{if eq .DisCh 1}}checked{{end}}/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <small class="help-block">提示：无法识别分辨率时或访问失败自动禁用频道，若源有UA或其他要求，请谨慎开启</small>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>EPG模糊识别</h4>
                            {{ if eq .Lic.Type 0 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if eq .Lic.Type 0 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>EPG模糊识别:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" name="epgFuzz" onchange="submitFormPOST(this)" {{if eq .EpgFuzz 1}}checked{{end}}/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <small class="help-block">提示：频道自动绑定未识别时启用模糊识别，以提升识别成功率。存在识别错误问题，谨慎开启</small>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>频道聚合</h4>
                            {{ if eq .Lic.Type 0 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if eq .Lic.Type 0 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>频道聚合开关:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" id="aggStatus" name="aggStatus" onchange="submitFormPOST(this)" {{ if eq .Proxy 0 }}disabled{{else}}{{if eq .Aggregation 1}}checked{{end}}{{ end }}/>
                                            <span></span>
                                        </label>&nbsp;&nbsp;&nbsp;<span style=" color: #000000;">{{ if eq .Proxy 0 }}需要先打开中转访问功能{{ end }}</span>
                                    </div>
                                    <small class="help-block">通过编写正则表达式或者勾选EPG，将不同分组的频道聚合到新分组内(需要频道已经绑定了EPG)</small>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>隐藏作者信息</h4>
                            {{ if ne .Lic.Type 2 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if ne .Lic.Type 2 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>隐藏作者信息:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" id="dispay" name="dispay" onchange="submitFormPOST(this)" {{ if ne .Lic.Type 2 }}disabled{{else}}{{ if eq DisPay 1 }}checked{{ end }}{{ end }} />
                                            <span></span>
                                        </label>&nbsp;&nbsp;&nbsp;<span style=" color: #000000;">{{ if ne .Lic.Type 2 }}永久授权功能{{ end }}</span>
                                    </div>
                                    <small class="help-block">关闭左下角捐赠和作者信息</small>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>短订阅链接</h4>
                            {{ if eq .Lic.Type 0 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if eq .Lic.Type 0 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>短订阅链接开关:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" id="shortURL" name="shortURL" onchange="submitFormPOST(this)" {{ if eq .Lic.Type 0 }}disabled{{else}}{{if eq .ShortURL 1}}checked{{end}}{{ end }}/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <small class="help-block">更短的订阅链接，方便电视遥控器输入  相对更容易泄露，外网使用谨慎开启</small>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <script>
        console.log("入群密码后半段： 599f2b69");
var scheme = xmSelect.render({
	el: '#scheme', 
	name: 'scheme',
	radio: true,
	autoRow: true,
	tips: '协议类型', 
    {{ if eq .Proxy 1 }}disabled: true,{{ end }}
	clickClose: true,
	pageSize: 2,
	direction: 'down',
    style: {
		weight: '50px',
	},
    model: {
        icon: 'hidden',
		label: {
			type: 'text',
		}
	},
	data: [
        {{ if eq .Scheme "https" }}
		{name: 'http', value: 'http'},
        {name: 'https', value: 'https', selected: true},
		{{ else }}
		{name: 'http', value: 'http', selected: true},
        {name: 'https', value: 'https'},
		{{ end }}
	]
})


    </script>
</main>

{{ template "admin_footer" . }}