{{ template "header" . }}
{{ template "admin_header" . }}

<main class="lyear-layout-content">
	<div class="container-fluid">
		<div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><h4>授权信息</h4>
                        <button class="btn btn-info" 
                            type="button"
                            data-toggle="modal" data-target="#import"
                            style="position: absolute; top: 10px; right: 25px; margin: 0;">
                            导入授权
                        </button>
                    </div>
                    <div class="card-body" style="position: relative;">
                        <p>机器码：{{ .Lic.ID }}</p>
                        <p>授权状态：{{ if eq .Lic.Tpye 1 }}<font color="#33a996">已授权</font>{{ else if eq .Lic.Tpye 2 }}<font color="#33a996">永久授权</font>{{else}}<font color="red">未授权</font>{{ end }}</p>
                        <p>过期时间：{{ if eq .Lic.Tpye 1 }}{{ .Lic.ExpStr }}{{ else if eq .Lic.Tpye 2 }}永久授权{{ end }}</p>
                    </div>
                </div>
                <div class="modal fade" id="import" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#lickey').val('');"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">导入授权</h4>
                            </div>
                            <form method="post" action="/admin/license">
                                <div class="modal-body">
                                    <div class="form-group col-xs-12">
                                        <label for="lickey">授权码</label>
                                        <textarea class="form-control" rows="5" id="lickey" name="lickey" placeholder="请输入授权码"></textarea>
                                        <small class="help-block">已赞助用户在QQ群或邮箱 1249851115@qq.com 联系作者并提供机器码和交易截图</small>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" name="importLic">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#lickey').val('');">关闭</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
			</div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><h4>引擎状态</h4>
                        <button class="btn btn-info" onclick="resEng()"
                            style="position: absolute; top: 10px; right: 25px; margin: 0;">
                            重启引擎
                        </button>
                    </div>
                    <div class="card-body" style="position: relative;">
                        <p>引擎状态：{{ if eq .Status 1 }}<font color="#33a996">运行中</font>{{else}}<font color="red">已下线</font>{{ end }}</p>
                        <p>连接状态：{{ if eq .Online 1 }}<font color="#33a996">已连接</font>{{else}}<font color="red">已下线</font>{{ end }}</p>
                        <p>引擎版本：{{ .Version }}</p>
                    </div>
                </div>
			</div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h4>功能开关</h4></div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>中转访问</h4>
                            {{ if eq .Lic.Tpye 0 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if eq .Lic.Tpye 0 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="input-group"> 
                                    <label>中转地址:</label>&nbsp;&nbsp;<button class="btn btn-label btn-danger" type="button" id="lockBtn" onclick="proxyLock(this)"
                                        style=" display:inline-flex; align-items:center; justify-content:center; padding:4px 8px;" {{ if eq .Proxy 1 }}disabled{{ end }}>
                                        <i class="mdi mdi-lock" style="margin:0; padding:0; vertical-align:middle;"></i>
                                    </button>
                                    <div class="input-group">
                                        <div><input class="form-control" type="text" id="pAddr" name="pAddr" value="{{ .ProxyAddr }}" style="margin-top: 15px;" placeholder="源中转的地址"  readonly></div>
                                        <small class="help-block">提示：源中转的地址，当后台和源中转使用不同域名或ip时，请手动修改这个地址</small>
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>端口：</label>
                                        <input class="form-control" type="number" name="port" value="{{ .Port }}" placeholder="82-65535之间" min="82" max="65535" step="1" {{ if eq .Proxy 1 }}disabled{{ end }}>
                                    </div>
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>开启中转:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" name="proxy" onchange="submitFormPOST(this)" {{if eq .Proxy 1}}checked{{end}}/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <small class="help-block">提示：端口为容器8080映射出来的端口，若有外网映射，请改为外网端口</small>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>分辨率&&延迟测试</h4>
                            {{ if eq .Lic.Tpye 0 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if eq .Lic.Tpye 0 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>自动识别:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" name="autoRes" onchange="submitFormPOST(this)" {{if eq .AutoRes 1}}checked{{end}}/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <small class="help-block">提示：源更新时自动测试分辨率和延迟，CPU、内存占用较大，谨慎开启！！！可以手动单条测试分辨率</small>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>自动禁用:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" name="disCh" onchange="submitFormPOST(this)" {{if eq .DisCh 1}}checked{{end}}/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <small class="help-block">提示：无法识别分辨率时或访问失败自动禁用频道，若源有UA或其他要求，请谨慎开启</small>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><h4>EPG模糊识别</h4>
                            {{ if eq .Lic.Tpye 0 }} <span class="badge badge-danger">未授权</span>{{ end }}
                            </div>
                            <div class="card-body" {{ if eq .Lic.Tpye 0 }}style="pointer-events: none; opacity: 0.6;"{{ end }}>
                                <form method="post" action="/admin/license">
                                <div class="form-inline">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>EPG模糊识别:</label>
                                        <label class="lyear-switch switch-primary">
                                            <input type="checkbox" name="epgFuzz" onchange="submitFormPOST(this)" {{if eq .EpgFuzz 1}}checked{{end}}/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <small class="help-block">提示：频道自动绑定未识别时启用模糊识别，以提升识别成功率。存在识别错误问题，谨慎开启</small>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</main>

{{ template "admin_footer" . }}