{{ template "header" . }}
{{ template "admin_header" . }}

<main class="lyear-layout-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h4>编译配置</h4></div>
                    <div class="card-body">
                        <form method="post" id="appform" enctype="multipart/form-data">
                            <div class="input-group"> 
                                <label>APK连接地址:</label>&nbsp;&nbsp;<button class="btn btn-label btn-danger" type="button" id="lockBtn" onclick="toggleLock(this)"
                                    style=" display:inline-flex; align-items:center; justify-content:center; padding:4px 8px;">
                                    <i class="mdi mdi-lock" style="margin:0; padding:0; vertical-align:middle;"></i>
                                </button>
                                <div class="input-group">
                                    <div><input class="form-control" type="text" id="serverUrl" name="serverUrl" value="{{ .ServerUrl }}" style="margin-top: 15px;" placeholder="APK连接地址"  readonly></div>
                                    <small class="help-block">提示：修改APK连接地址请先点解锁，自动填充当前后台地址，若内网访问，请手动填写外网地址。</small>
                                </div>
                            </div>
                            
                            <div class="form-inline" style="margin-top: 15px;">
                                <div class="form-group" style="margin-right: 15px;">
                                    <label>应用包名:</label>
                                    <input class="form-control" type="text" name="app_packagename" value="{{ .Build.Package }}" placeholder="应用包名" >
                                </div>
                                <div class="form-group" style="margin-right: 15px;">
                                    <label>应用名:</label>
                                    <input class="form-control" type="text" name="app_appname" value="{{ .Build.Name }}" placeholder="应用名" >
                                </div>
                                <div class="form-group" style="margin-right: 15px;">
                                    <label>应用签名:</label>
                                    <input class="form-control" type="number" name="app_sign" value="{{ .Build.Sign }}" placeholder="10000-65535之间" min="10000" max="65535" step="1">
                                </div>
                                <div class="form-group" style="margin-right: 15px;">
                                    
                                    <div style="display: flex; align-items: center; gap: 10px;">
                                        <label>应用图标:</label>
                                        <!-- 上传按钮 -->
                                        <label class="btn btn-primary" style="margin:0;">
                                            更改图标
                                            <input type="file" name="iconfile" accept="image/png" onchange="uploadIcon(event)" id="iconInput" style="display:none;">
                                        </label>

                                        <!-- 预览图 -->
                                        <div id="iconContainer" style="position:relative; {{if eq .IconUrl ""}}display:none;{{end}}">
                                            <img id="iconImg" src="{{if .IconUrl }}{{.IconUrl}}{{end}}" alt="预览" style="height:38px; border:1px solid #ccc; border-radius:4px; cursor:pointer;">
                                            <!-- 删除按钮 -->
                                            <span id="deleteIconView" onclick="deleteIcon()" style="
                                                position:absolute; top:-8px; right:-8px;
                                                background:#f00; color:#fff; border-radius:50%;
                                                font-size:14px; line-height:16px; width:16px; height:16px;
                                                text-align:center; cursor:pointer;">×</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-top: 15px;">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <label>背景图片:</label>
                                    <!-- 上传按钮 -->
                                    <label class="btn btn-primary" style="margin:0;">
                                        上传背景
                                        <input type="file" name="bjfile" onchange="uploadBj(event)" accept="image/png" id="bjInput" style="display:none;">
                                    </label>

                                    <!-- 预览图 -->
                                    <div class="reload-bj">
                                        {{if gt (len .BjUrl) 0 }}{{range .BjUrl}}
                                    <div class="form-group" id="bj_{{ . }}" style="position:relative; margin-right: 5px;">
                                        <img id="{{ . }}" src="/images/{{ . }}.png" alt="预览" style="height:38px; border:1px solid #ccc; border-radius:4px; cursor:pointer;">
                                        <!-- 删除按钮 -->
                                        <span class="delete-btn" onclick="deleteBj('{{ . }}')" data-name="{{ . }}" id="{{ . }}" style="
                                            position:absolute; top:-8px; right:-8px;
                                            background:#f00; color:#fff; border-radius:50%;
                                            font-size:14px; line-height:16px; width:16px; height:16px;
                                            text-align:center; cursor:pointer;">×</span>
                                    </div>
                                    {{end}}{{end}}
                                    </div>
                                </div>
                                <small class="help-block">提示：图片仅支持PNG格式，不超过800KB，多张图片为随机显示。</small>
                        </div>
                        <div class="form-inline" style="margin-top: 10px;">
                            <div class="form-group" style="margin-right: 15px;">
                                <label>当前版本:</label>
                                <input class="form-control" type="text" readonly value="{{ .Build.Version }}"/>
                            </div>
                            <div class="form-group" style="margin-right: 15px;">
                                <label>新版本:</label>
                                <input class="form-control" type="text" id="app_version" name="app_version" value="{{ .Build.Version }}" placeholder="版本号">
                            </div>
                            <div class="form-group">
                                <label>软件大小:</label>
                                <input class="form-control" type="text" id="apksize" readonly value="{{ .UpSize }}"/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="btn-block">更新内容:</label>
                            <textarea class="form-control" rows="5" name="up_text" placeholder="请输入更新内容" >{{ .App.Update.Text }}</textarea>
                        </div>
                        <div class="form-inline" style="margin-top: 10px;">
                            <div class="form-group" style="margin-right: 15px;">
                                <button class="btn btn-label btn-primary" type="button" onclick="BuildApk(this)" id="submitappinfo" name="submitappinfo" {{if eq .BuildStatus 1}}disabled{{end}}><label><i class="mdi mdi-checkbox-marked-circle-outline"></i></label>编译APK</button>
                            </div>
                            <div class="form-group" >
                                <a href="{{ .ApkUrl }}" download="{{ .ApkName }}">
                                    <button class="btn btn-label btn-primary download-link" type="button"
                                            {{if eq .BuildStatus 1}}disabled{{end}}>
                                        <label><i class="mdi mdi-download"></i></label>下载客户端
                                    </button>
                                </a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h4>应用默认设置</h4></div>
                    <div class="card-body">
                        <div class="form-inline">
                            <div class="form-group" style="margin-right: 15px;">
                                <label>解码模式：</label>
                                <select class="form-control " name="decoder" onchange="tdBtnPOST(this)" class="btn btn-sm btn-default dropdown-toggle" style="width: 115px;">
                                    <option value='0' {{if eq .App.Decoder 0}}selected{{end}} >自动选择</option>
                                    <option value='1' {{if eq .App.Decoder 1}}selected{{end}} >硬件解码</option>
                                    <option value='2' {{if eq .App.Decoder 2}}selected{{end}} >软件解码</option>	
                                </select>
                            </div>
        
                            <div class="form-group" style="margin-right: 15px;">
                                <label>超时跳转时长：</label>
                                <select class="form-control " name="buffTimeOut" onchange="tdBtnPOST(this)" class="btn btn-sm btn-default dropdown-toggle" style="width: 95px;">
                                    <option value='5' {{if eq .App.BuffTimeout 5}}selected{{end}} >5 秒</option>
                                    <option value='10' {{if eq .App.BuffTimeout 10}}selected{{end}} >10 秒</option>
                                    <option value='15' {{if eq .App.BuffTimeout 15}}selected{{end}} >15 秒</option>
                                    <option value='20' {{if eq .App.BuffTimeout 20}}selected{{end}} >20 秒</option>
                                    <option value='25' {{if eq .App.BuffTimeout 25}}selected{{end}} >25 秒</option>
                                    <option value='30' {{if eq .App.BuffTimeout 30}}selected{{end}} >30 秒</option>
                                </select>
                            </div>

                            <div class="form-group" style="margin-right: 15px;">
                                <label>客户端授权:</label>
                                <label class="lyear-switch switch-primary">
                                    <input type="checkbox" name="needauthor" onchange="tdBtnPOST(this)" {{if eq .App.NeedAuthor 1}}checked{{end}}/>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>
			</div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h4>应用提示</h4></div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label class="btn-block">节目加载提示：</label>
                                <input class="form-control" type="text" name="tiploading" value="{{ .Tips.Loading }}">
                            </div>
                            <div class="form-group">
                                <label class="btn-block">授权到期提示：</label>
                                <input class="form-control" type="text" name="tipuserexpired" value="{{ .Tips.UserExpired }}">
                            </div>
                            <div class="form-group">
                                <label class="btn-block">账号停用提示：</label>
                                <input class="form-control" type="text" name="tipuserforbidden" value="{{ .Tips.UserForbidden }}">
                            </div>
                            <div class="form-group">
                                <label class="btn-block">未予授权提示：</label>
                                <input class="form-control" type="text" name="tipusernoreg" value="{{ .Tips.UserNoReg }}">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-label btn-primary" type="button" onclick="submitFormPOST(this)" name="submittipset"><label><i class="mdi mdi-content-save-all"></i></label>保存</button>
                            </div>
                        </form>
                    </div>
                </div>
			</div>
		</div>
	</div>
</main>

{{ template "admin_footer" . }}