{{ template "header" . }}
{{ template "admin_header" . }}
<main class="lyear-layout-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header"><h4>订阅列表</h4></div>
					<div class="tab-content">
						<div class="tab-pane active">
							<div class="form-group">
								<div class="table-responsive" >
									<table class="table table-hover table-vcenter">
										<tr>
											<td colspan="5">
												<form class="form-inline" method="post" action="/admin/meals">
													<button class="btn btn-default btn-info meals-add-btn" type="button" data-toggle="modal" onclick="mealsGetCategory(this)" name="addmeal" data-target="#editmeal">新增套餐</button>
												</form>
											</td>
										</tr>
										<tr align="center">
											<td class="w-5">套餐编号</td>
											<td class="w-5">套餐名称</td>
											<td class="w-5">套餐状态</td>
											<td class="w-15">收视内容</td>
											<td class="w-10">操作</td>
										</tr>
										<tbody style="font-size:12px;font-weight: bold;">
										{{ if gt (len .Meals) 0 }}
										{{ $root := . }}
										{{range .Meals}}
											<tr>
												<td class="meal-id" align="center" style="font-size:12px;height:35px;font-weight: bold;" data-value="{{.ID}}">{{.ID}}</td>
												<td class="meal-name" align="center" style="font-size:12px;font-weight: bold;" data-value="{{.Name}}">{{.Name}}</td>
												<td align="center" style="font-size:12px;font-weight: bold;">{{if eq .Status 1 }}<font color="#33a996">上线</font>{{else}}<font color="red">下线</font>{{end}}</td>
												<td class="meal-cids" align="center" style="font-size:12px;font-weight: bold;" data-value="{{ .Content }}">{{ .CaName }}</td>
												<td>
													<button type="button" onclick="tdBtnPOST(this)" name="change_status" value="{{.ID}}" class="btn btn-xs {{if eq .Status 1 }}btn-warning">下线{{else}}btn-success">上线{{end}}</button>
													<button class="btn btn-xs btn-info" type="button" name="editmeal" value="{{.ID}}" data-toggle="modal" onclick="mealsGetCategory(this)" data-target="#editmeal">编辑</button>
													<button class="btn btn-xs btn-info" type="button" onclick="rssPOST(this)" name="rssshow" data-toggle="modal" data-target="#rssshow" value="{{.ID}}">订阅</button>
													{{if eq .ID 1000 }}
													{{else}}
													<button class="btn btn-xs btn-danger" type="button" onclick="tdBtnPOST(this)" name="delmeal" value="{{.ID}}">删除</button>
													{{end}}
												</td>
											</tr>
										{{end}}
										{{else}}
											<tr>
												<td colspan="5" align="center" style="font-size:14px;color:red;height:35px;font-weight: bold;">当前未有套餐数据</td>
											</tr>
										{{end}}
										</tbody>
									</table>
									<div class="modal fade" id="editmeal" tabindex="-1" role="dialog">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title"></h4>
												</div>
												<form method="post" action="/admin/meals">
													<div class="modal-body">
														<table class="table table-bordered table-striped table-vcenter" align="center">
															<tr>
																<td>
																	<div class="form-inline">
																		<input type="hidden" name="mealId" id="mealId" value="">
																		<label class="control-label">套餐名称：</label>
																		<input class="form-control" type="text" name="mealName" id="mealName" value="">
																	</div>
																</td>
															</tr>
															<tr>
																<td>
																	<label class="lyear-checkbox m-b-10">
																		<input type="checkbox" onclick="checkboxall(this)">
																		<span>全选/反选</span>
																	</label>
																	<div class="form-inline meal-checkbox">
																	</div>
																</td>
															</tr>
														</table>
													</div>
													<div class="modal-footer">
														<button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" id="submitmeal" name="submitmeal">确定</button>
														<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="modal fade" id="rssshow" tabindex="-1" role="dialog">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title"></h4>
												</div>
												<div class="modal-body">
													<table class="table table-bordered table-striped table-vcenter" align="center">
														<tr>
															<td>
																<div class="form-group">
																	<button class="btn btn-info" type="button" id="getnewkey" name="getnewkey" value="" data-value="" onclick="getnewkey(this)">刷新KEY</button>
																	<small class="help-block">提示：刷新KEY后之前的链接将不可用</small>
																</div>
															</td>
														</tr>
														<tr>
															<td>
																<div class="form-group">
																	<label class="control-label">TXT订阅：</label>
																	<textarea class="form-control" rows="3" id="rsstxt" readonly ondblclick="CopyRss(this)"></textarea>
																	<small class="help-block">提示：双击复制</small>
																</div>
																<div class="form-group">
																	<label class="control-label">酷9TXT订阅：</label>
																	<textarea class="form-control" rows="3" id="ku9txt" readonly ondblclick="CopyRss(this)"></textarea>
																	<small class="help-block">提示：双击复制</small>
																</div>
																<div class="form-group">
																	<label class="control-label">M3U订阅：</label>
																	<textarea class="form-control" rows="3" id="rssm3u" readonly ondblclick="CopyRss(this)"></textarea>
																	<small class="help-block">提示：双击复制</small>
																</div>
																<div class="form-group">
																	<label class="control-label">EPG订阅：</label>
																	<textarea class="form-control" rows="3" id="rssepg" readonly ondblclick="CopyRss(this)"></textarea>
																	<small class="help-block">提示：双击复制</small>
																</div>
															</td>
														</tr>
													</table>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{if lt .ChannelNum 1}}
	<script>$.alert({title: '错误',content: '无频道信息，请先添加频道',type: 'red',buttons: {confirm: {text: '确定',btnClass: 'btn-primary',action: function(){loadPage("/admin/channels");}}}});</script>
	{{end}}
</main>
{{ template "admin_footer" . }}