{{ template "header" . }}
{{ template "admin_header" . }}
<main class="lyear-layout-content">
    <style type="text/css">
	#categorylist{padding-left: 0px;padding-top: 5px;}
	ul li{list-style: none}
</style>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header"><h4>频道源设置</h4></div>
					<div class="tab-content">
						<div class="tab-pane active">
	                		<div class="table-responsive" >
								<table class="table table-bordered table-vcenter">
									<tr>
										<td>
											<form class="form-inline" method="post" id='autoupdate_form' action="/admin/channels">
											<label>列表设置：</label>
												<span>更新间隔</span>
												<input type="text" class="form-control" name='updateinterval' style="width: 60px;height: 25px;" value="{{ .UpdateInterval }}" size="5"><span>&nbsp;小时</span>
												<label class="lyear-checkbox checkbox-inline">
													<input type="checkbox" name="autoupdate" {{ if .AutoUpdate }} checked="checked"{{ end }}>
													<span>自动更新</span>
												</label>
												<button class="btn btn-xs btn-info btn-default" type="button" onclick="submitFormPOST(this)" name="update_interval">保存设定</button>
												<button class="btn btn-xs btn-info btn-default" type="button" onclick="submitFormPOST(this)" name="updatelistall">更新全部</button>
												<button class="btn btn-xs btn-info btn-default" type="button" data-toggle="modal" data-target="#addlist">添加列表</button>
											</form>
										</td>
									</tr>
									</table>
									<table class="table table-hover">
									<tr align="center">
										<td class="w-5">名称</td>
										<td class="w-15">url</td>
										<td class="w-10">最后更新时间</td>
										<td class="w-5">自动分组</td>
										<td class="w-5">自动去重</td>
										<td class="w-5">状态</td>
										<td class="w-10">操作</td>
									</tr>
									<tbody>
									{{ if gt (len .CategoryList) 0 }}{{ range .CategoryList }}
									{{if .Url }}
									<tr>
										<td style="display:none;" class="cl-id" data-value="{{ .ID }}">{{ .ID }}</td>
										<td style="display:none;" class="cl-ua" data-value="{{ .UA }}">{{ .UA }}</td>
										<td style="display:none;" class="cl-rename" data-value="{{ .ReName }}">{{ .ReName }}</td>
										<td style="display:none;" class="cl-autogroup" data-value="{{ .AutoGroup }}">{{ .AutoGroup }}</td>
										<td style="display:none;" class="cl-ku9" data-value="{{ .Ku9 }}">{{ .Ku9 }}</td>
										<td align="center" class="cl-name" data-value="{{ .Name }}">{{ .Name }}</td>
										<td align="center" class="cl-url" data-value="{{ .Url }}" style="max-width: 200px; 
											word-wrap: break-word; 
											white-space: normal; 
											-webkit-line-clamp: 3; 
											-webkit-box-orient: vertical; 
											overflow: hidden; 
											 text-align: center;
											text-overflow: ellipsis;">
										<a href="{{ .Url }}" target="_blank">{{ .Url }}</a>
										</td>
										<td align="center">{{ .LatestTime }}</td>
										<td align="center" class="cl-a" data-value="{{ .AutoCategory }}">{{if eq .AutoCategory 1 }}启用{{else}}关闭{{ end }}</td>
										<td align="center" class="cl-r" data-value="{{ .Repeat }}">{{if eq .Repeat 1 }}启用{{else}}关闭{{ end }}</td>
										<td align="center" class="status-show" style="font-size:12px;font-weight: bold;">{{if eq .Enable 1 }}<font color="#33a996">上线</font>{{else}}<font color="red">下线</font>{{end}}</td>
										<td>
											<button type="button" onclick="tdBtnPOST(this)" name="categoryListStatus" value="{{.ID}}" class="btn btn-xs {{if eq .Enable 1 }}btn-warning">下线{{else}}btn-success">上线{{end}}</button>
											<button class="btn btn-xs btn-info" type="button" name="updatelist" value="{{.ID}}" onclick="tdBtnPOST(this)">更新</button>
											<button class="btn btn-xs btn-info" type="button" name="editCategory" value="{{.ID}}" data-toggle="modal" onclick="getCategoryList(this)" data-target="#addlist">编辑</button>
											<button class="btn btn-xs btn-danger" type="button" onclick="tdBtnPOST(this)" name="dellist" value="{{.ID}}">删除</button>
										</td>
									</tr>
									{{ end }}{{ end }}{{end}}
									</tbody>
								</table>
								<div class="modal fade" id="addlist" tabindex="-1" role="dialog">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#clId').val('');$('#listname').val('');$('#listurl').val('');$('#autocategory').prop('checked', false);$('#autogroup').prop('checked', false);$('#repeat').prop('checked', false);$('#lku9').prop('checked', false);"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title">外部列表</h4>
											</div>
											<form method="post" action="/admin/channels">
												<div class="modal-body">
													<input type="hidden" id="clId" data-value="" name="clId" value="">
													<div class="form-group">
														<label for="recipient-name" class="control-label">分类名称：</label>
														<input type="text" class="form-control" id="listname" name="listname" placeholder="分类名称">
													</div>
													<div class="form-group">
														<label for="message-text" class="control-label">列表链接：</label>
														<input class="form-control" id="listurl" name="listurl" placeholder="请输入列表链接"></input>
													</div>
													<div class="form-group">
														<label for="message-text" class="control-label">User-Agent: </label>
														<input class="form-control" id="listua" name="listua" placeholder="Go-http-client/1.1"></input>
														<small class="help-block">APTV源的UA样例为: AptvPlayer/1.4.10</small>
													</div>
													<div class="form-group">
														<label class="lyear-checkbox checkbox-success checkbox-inline">
															<input type="checkbox" id="autocategory" name="autocategory" value="on" onclick="document.getElementById('autogroup').disabled = document.getElementById('lku9').disabled = !this.checked; document.getElementById('autogroup').checked = document.getElementById('lku9').checked = this.checked;"></input>
															<span style="color: black; font-weight: bold;">启用自动分组</span>
														</label>
														<label class="lyear-checkbox checkbox-success checkbox-inline">
															<input type="checkbox" id="autogroup" name="autogroup" value="on" disabled></input>
															<span style="color: black; font-weight: bold;">二级分组</span>
														</label>
														<label class="lyear-checkbox checkbox-success checkbox-inline">
															<input type="checkbox" id="lku9" name="ku9" value="on" disabled></input>
															<span style="color: black; font-weight: bold;">TXT参数保留</span>
														</label>
														<small class="help-block">支持txt格式#genre#分组、支持m3u8格式group-title分组;  二级分组仅支持酷9的txt格式#group#分组，将分组名改为"分组名[一级分组](订阅源名称)"格式; TXT参数保留仅支持保留酷9等txt订阅分组附加参数</small>
													</div>
													<div class="form-group">
														<label class="lyear-checkbox checkbox-success checkbox-inline">
															<input type="checkbox" id="repeat" name="repeat" value="on"></input>
															<span style="color: black; font-weight: bold;">启用去重</span>
														</label>
														<small class="help-block">更新源数据时，判断频道链接是否和手动添加的列表是否重复</small>
													</div>
													<div class="form-group">
														<label class="lyear-checkbox checkbox-success checkbox-inline">
															<input type="checkbox" id="clrename" name="rename" value="on"></input>
															<span style="color: black; font-weight: bold;">频道重命名</span>
														</label>
														<small class="help-block">当频道绑定epg时，订阅及app观看将如CCTV-1、CCTV1、CCTV综合等统一为CCTV1</small>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" id="addthirdlist" name="addlist">确定</button>
													<button type="button" class="btn btn-default" onclick="$('#clId').val('');$('#listname').val('');$('#listurl').val('');$('#autocategory').prop('checked', false);$('#autogroup').prop('checked', false);$('#repeat').prop('checked', false);$('#lku9').prop('checked', false);" data-dismiss="modal">关闭</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header"><h4>频道分类管理</h4></div>
					<div class="tab-content">
						<div class="tab-pane active">
	                		<div class="table-responsive">
								<table class="table table-bordered table-vcenter">
									<tr>
										<td>
											<form class="form-inline" method="post" id='cclass_form' action="/admin/channels">
												<button class="btn btn-xs btn-info btn-default" type="button" data-toggle="modal" data-target="#addclass">新增分类</button>
												<label class="btn btn-xs btn-info btn-default" style="margin:0;">
													<span>文件导入</span>
													<input type="file" name="paylistfile" onchange="uploadPayList(event)" id="paylistfile" style="display:none;">
												</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<button class="btn btn-xs btn-info btn-default" type="button" onclick="caMoveup()" name="moveup">上移分类</button>
												<button class="btn btn-xs btn-info btn-default" type="button" onclick="caMovedown()" name="movedown">下移分类</button>
												<button class="btn btn-xs btn-info btn-default" type="button" onclick="caMovetop()" name="movetop">移动到顶</button>
											</form>
										</td>
									</tr>
								</table>
								<table class="table table-hover table-vcenter">
									<thead>
										<tr>
											<th style="text-align:center;">#</th>
											<th style="text-align:center;">分组名称</th>
											<th style="text-align:center;">分组类型</th>
											<th style="text-align:center;">状态</th>
											<th style="text-align:center;">中转访问</th>
											<th style="text-align:center;">频道重命名</th>
											<th style="text-align:center;">操作</th>
										</tr>
									</thead>
									<tbody id="categorylist_tbody">
										{{ if gt (len .Categorys) 0 }}{{ range .Categorys }}
										<tr align="center">
											<td align="center">
												<label class="lyear-checkbox checkbox-inline">
													<input type="checkbox" data-value="{{ .ID }}" value="{{ .ID }}">
													<span></span>
												</label>
											</td>
											<td style="display:none;" class="ca-id" data-value="{{ .ID }}">{{ .ID }}</td>
											<td style="display:none;" class="ca-ua" data-value="{{ .UA }}">{{ .UA }}</td>
											<td style="display:none;" class="ca-ku9" data-value="{{ .Ku9 }}">{{ .Ku9 }}</td>
											{{ if $.ShowAuto }}
											<td style="display:none;" class="ca-rules" data-value="{{ .Rules }}">{{ .Rules }}"</td>
											{{end}}
											<td class="ca-name" data-value="{{ .Name }}">{{ .Name }}</td>
											<td class="ca-type" data-value="{{ .Type }}">
											{{ if eq .Type "add" }}
												源导入
											{{ else if eq .Type "file" }}
												文件导入
											{{ else if eq .Type "user" }}
												手动添加
											{{ else if eq .Type "auto" }}
												正则聚合
											{{ else if eq .Type "autoRe" }}
												正则聚合
											{{ else if eq .Type "autoEpgs" }}
												EPG聚合
											{{ end }}
											</td>
											<td class="status-show">{{ if eq .Enable 1 }}<font color="#33a996">上线</font>{{else}}<font color="red">下线</font>{{end}}</td>
											<td class="ca-proxy" data-value="{{ .Proxy }}">{{ if eq .Proxy 1 }}<font color="#33a996">启用</font>{{else}}<font color="red">关闭</font>{{end}}</td>
											<td class="ca-rename" data-value="{{ .ReName }}">{{ if eq .ReName 1 }}<font color="#33a996">启用</font>{{else}}<font color="red">关闭</font>{{end}}</td>
											<td>
												<button type="button" onclick="tdBtnPOST(this)" name="categoryStatus" value="{{.ID}}" class="btn btn-xs {{if eq .Enable 1 }}btn-warning">下线{{else}}btn-success">上线{{end}}</button>
												<button class="btn btn-xs btn-info" type="button" value="{{.ID}}" data-toggle="modal" onclick="getCategory(this)" data-target="#addclass">编辑</button>
												<button class="btn btn-xs btn-info" type="button" data-toggle="modal" onclick="getChannelsTxt(this)" data-target="#showtxt">编辑频道</button>
												<button class="btn btn-xs btn-info" type="button" data-toggle="modal" onclick="getChannels('{{.ID}}',this)" data-target="#showlist">EPG管理</button>
												<button class="btn btn-xs btn-danger" type="button" onclick="tdBtnPOST(this)" name="delca" value="{{.ID}}">删除</button>
											</td>
										{{ end }}{{ end }}
									</tbody>
								</table>

								<div class="modal fade" id="addclass" tabindex="-1" role="dialog">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#caId').val('');$('#caname').val('');$('#autoRe').val('');$('#ku9').val('');$('#rename').prop('checked', true);$('#caproxy').prop('checked', false);{{ if .ShowAuto }}ruleEpgsXm.setValue([ '' ]);$('#autoRe').prop('checked', false);$('#autoEpgs').prop('checked', false);{{end}}"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title">分组编辑</h4>
											</div>
											<form method="post" action="/admin/channels">
												<div class="modal-body">
													<input type="hidden" id="caId" data-value="" name="caId" value="">
													<input type="hidden" id="autoType" data-value="" name="autoType" value="">
													<div class="form-group">
														<label for="recipient-name" class="control-label">分组名称：</label>
														<input type="text" class="form-control" id="caname" name="caname" placeholder="分组名称">
													</div>
													<div class="form-group">
														<label for="message-text" class="control-label">User-Agent: </label>
														<input class="form-control" id="caua" name="caua" placeholder="Go-http-client/1.1"></input>
													</div>
													<div class="form-group" style="margin-right: 15px;">
														<label>开启中转:</label>
														<label class="lyear-switch switch-primary">
															<input type="checkbox" id="caproxy" name="caproxy"/>
															<span></span>
														</label>
													</div>
													<div class="form-group" style="margin-right: 15px;">
														<label>频道重命名:</label>
														<label class="lyear-switch switch-primary">
															<input type="checkbox" id="carename" name="rename" checked/>
															<span></span>
														</label>
														<small class="help-block">当频道绑定epg时，订阅及app观看将如CCTV-1、CCTV1、CCTV综合等统一为CCTV1</small>
													</div>
													<div class="form-group">
														<label>额外参数:</label>
														<textarea class="form-control" rows="3" id="ku9" name="ku9" placeholder="酷9 txt格式源分组额外参数 DE=解码#SC=画面比例#HEADERS=请求头#JS=Js路径#PB=回放参数#HOST=Host#PBO=回放偏移值#IJKAD=Ijk_Analyzeduration#TSO=时移结束时间增加值"></textarea>
													</div>
													{{ if .ShowAuto }}
													<div class="form-group">
														<label class="lyear-radio radio-success radio-inline">
															<input type="checkbox" id="autoRe" onclick="toggleSingleCheck(this, 'autoEpgs', 'autoRe')">
															<span style="color: black; font-weight: bold;">正则聚合</span>
														</label>
														<label class="lyear-radio radio-success radio-inline">
															<input type="checkbox" id="autoEpgs" onclick="toggleSingleCheck(this, 'autoRe', 'autoEpgs')">
															<span style="color: black; font-weight: bold;">EPG聚合</span>
														</label>
														<small class="help-block">提取所有符合自动聚合规则的频道到该分组，频道所在的原分组不受影响。注意：当前分组如果已有频道，将会全部清空！</small>
													</div>
													<div class="form-group" id="rules-re" style="display: none;">
														<input class="form-control" id="rulesRe" name="rulesRe" placeholder="正则表达式"></input>
													</div>
													<div class="form-group" id="rule-epg" style="display: none;"></div>
													{{end}}
												</div>
												<div class="modal-footer">
													<button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" name="saveCa">确定</button>
													<button type="button" class="btn btn-default" onclick="$('#caId').val('');$('#caname').val('');$('#autoRe').val('');$('#ku9').val('');$('#rename').prop('checked', true);$('#caproxy').prop('checked', false);{{ if .ShowAuto }}ruleEpgsXm.setValue([ '' ]);$('#autoRe').prop('checked', false);$('#autoEpgs').prop('checked', false);{{end}}" data-dismiss="modal">关闭</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="modal fade" id="showtxt" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-lg" role="document" style="height:70vh; margin:5vh auto; display:flex; flex-direction:column;">
										<div class="modal-content" style="flex:1; display:flex; flex-direction:column; overflow:visible;">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#srclist').val('');resetShowUrl();"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title">频道列表</h4>
											</div>
											<form method="post" action="/admin/channels">
												<div class="modal-body" style="flex:1; overflow-y:auto; overflow-x:hidden; padding:15px;">
													<input type="hidden" id="showtxtcaId" name="caId" value="">
													<div class="form-group col-xs-12">
														<label for="rules" class="control-label">分组名称: </label>
														<input class="form-control" id="showtxtCaname" placeholder="分组名称" disabled></input>
													</div>
													<div class="form-group col-xs-12">
														<label>URL:</label>&nbsp;<button class="btn btn-xs btn-info" type="button" id="showPurl" onclick="changeShowUrl(this)">显示中转地址</button>&nbsp;<button class="btn btn-xs btn-info" type="button" onclick="copyCh()">复制可用频道</button>
														<div style="flex:1;">
															<textarea class="form-control" rows="15" id="srclist" name="srclist" placeholder="请输入频道"></textarea>
															<textarea class="form-control" rows="15" id="plist" style="display:none;" readonly></textarea>
														</div>
														<small class="help-block">状态->频道名称|URL</small>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" name="saveChannels">确定</button>
													<button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#srclist').val('');resetShowUrl();">关闭</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="modal fade" id="showlist" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-lg" role="document" style="width: 90%; max-width: none;">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#showcaId').val('');$('#channellist_tbody').html('');"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title">频道列表</h4>
											</div>
											<form method="post" action="/admin/channels">
												<input type="hidden" id="showcaId" name="caId" value="">
												<div class="modal-body">
													<table class="table table-bordered table-striped table-vcenter" align="center">
														<tr>
															<td>
																<div class="input-group">
																</div>
															</td>
														</tr>
													</table>
													<div class="table-responsive">
													<table class="table table-hover  table-vcenter">
														<thead>
															<tr>
																<th style="text-align:center;">频道名称</th>
																<th style="text-align:center;">URL</th>
																<th style="text-align:center;">状态</th>
																<th style="text-align:center;">分辨率</th>
																<th style="text-align:center;">延迟</th>
																<th style="text-align:center;">EPG</th>
																<th style="text-align:center;">LOGO</th>
																<th style="text-align:center;">操作</th>
															</tr>
														</thead>
														<tbody id="channellist_tbody">
														</tbody>
													</table>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#showcaId').val('');$('#channellist_tbody').html('');">关闭</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="modal fade" id="editchannel" tabindex="-1" role="dialog" aria-hidden="true" style="overflow:visible;">
									<div class="modal-dialog" role="document"
										style="height:90vh; margin:5vh auto; display:flex; flex-direction:column;">
										
										<div class="modal-content" style="flex:1; display:flex; flex-direction:column; overflow:visible;">
										
										<div class="modal-header" style="flex-shrink:0;">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"
											onclick="$('#editcaId').val('');$('#chname').val('');$('#chId').val('');$('#chURL').val('');">
											<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title">EPG编辑</h4>
										</div>

										<form method="post" action="/admin/channels" style="flex:1; display:flex; flex-direction:column;">
											<div class="modal-body" style="flex:1; overflow-y:auto; overflow-x:hidden; padding:15px;">
												<input type="hidden" id="editcaId" name="caId" value="">
												<input type="hidden" id="chId" name="chId" value="">
												
												<div class="form-group">
													<label for="recipient-name" class="control-label">频道名称:</label>
													<input type="text" class="form-control" id="chname" name="chname" placeholder="频道名称">
												</div>

												<div class="form-group">
													<label for="recipient-name" class="control-label">URL:</label>
													<input type="text" class="form-control" id="chURL" name="chURL" placeholder="URL">
												</div>

												<div class="form-group">
													<label>EPG：</label>
													<div id="e_id"></div>
												</div>
												<div style="display: flex; align-items: center; gap: 10px;">
													<label>台标:</label>
													<!-- 上传按钮 -->
													<label class="btn btn-primary" style="margin:0;">
														上传台标
														<input type="file" name="logofile" accept="image/png" onchange="uploadLogo(event)" id="logoInput" style="display:none;">
													</label>

													<!-- 预览图 -->
													<div id="logoContainerEdit" style="position:relative;">
														<img id="logoImg" src="" alt="预览" style="background-color: black;height:38px; border:1px solid #ccc; border-radius:4px; cursor:pointer;">
														<!-- 删除按钮 -->
														<span id="deleteIconView" onclick="" style="
															position:absolute; top:-8px; right:-8px;
															background:#f00; color:#fff; border-radius:50%;
															font-size:14px; line-height:16px; width:16px; height:16px;
															text-align:center; cursor:pointer;">×</span>
													</div>
												</div>
											</div>

											<div class="modal-footer" style="flex-shrink:0; margin-top:auto;">
											<button type="button" onclick="saveChannelsOne(this)" class="btn btn-primary" name="saveCa">确定</button>
											<button type="button" class="btn btn-default"
												onclick="$('#editcaId').val('');$('#chname').val('');$('#chId').val('');$('#chURL').val('');"
												data-dismiss="modal">关闭</button>
											</div>
										</form>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
	.bootstrap-select .dropdown-menu.inner {
	max-height: var(--max-height, 240px) !important;
	}
	/* 让左侧 checkbox 列与 textarea 行高一致 */
    #chchecks label.lyear-checkbox {
        display: block;
        line-height: 20px;     /* 与 textarea 的行高保持接近 */
        height: 20px;
        padding: 1px 0;
        margin: 0;
        transform: scale(0.8); /* ⭐缩小 checkbox */
        transform-origin: left top;
    }

    /* 缩小 checkbox 本体 */
    #chchecks input[type="checkbox"] {
        width: 14px;
        height: 14px;
        margin: 0;
    }

    /* 去掉多余空白 */
    #chchecks br {
        line-height: 0;
    }
	</style>
</main>

<script>
var chEpg = xmSelect.render({
	el: '#e_id', 
	name: 'e_id',
	radio: true,
	autoRow: true,
	tips: '选择绑定epg', 
	filterable: true,
	clickClose: true,
	paging: true,
	pageSize: 5,
	toolbar: {show: true, list: [ 'CLEAR']},
	direction: 'down',
	data: [
		{{ range .Epgs }}
		{name: '{{.Name}}', value: {{.ID}}, logo: '{{.Logo}}'},
		{{end}}
	],
	on: function (data) {
        if (data.isAdd) {
            // 选中时
            data.change.forEach(function (item) {
                if (item.logo) {
					$("#logoContainerEdit").show().find("img").attr("src", item.logo);
				} else {
					$("#logoContainerEdit").hide().find("img").attr("src", "");
				}
            });
        } else {
            // 取消选中时
            data.change.forEach(function (item) {
				$("#logoContainerEdit").hide().find("img").attr("src", "");
            });
        }
    }
})
{{ if .ShowAuto }}
var ruleEpgsXm = xmSelect.render({
	el: '#rule-epg', 
	name: 'ruleEpgs',
	autoRow: true,
	tips: '选择聚合的EPG', 
	filterable: true,
	paging: true,
	pageSize: 5,
	toolbar: {show: true, list: [ 'CLEAR']},
	direction: 'up',
	data: [
		{{ range .Epgs }}
		{name: '{{.Name}}', value: {{.ID}}},
		{{end}}
	]
})
{{end}}
</script>

{{ template "admin_footer" . }}