
{{ template "header" . }}

<style>
        body {
            font-family: "Microsoft YaHei", Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        /* .container {
            max-width: 800px;
            margin: 50px auto;
            background: #fff;
            padding: 30px 40px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 8px;
        } */
        .success-icon {
        font-size: 60px;
        color: #4caf50;
        }
        .success-message p {
        color: #666;
        font-size: 15px;
        }
        .btn-install {
        display: inline-block;
        margin-top: 25px;
        padding: 12px 25px;
        background-color: #4285f4;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
        }
        .btn:hover {
        background-color: #357ae8;
        }
    </style>
<!-- <link href="/static/css/login.css" rel="stylesheet"> -->
<script src="/static/js/login.js"></script>
<body scroll="no" style="overflow-x:hidden">
	<div id="container" class="row lyear-wrapper">
		<div class="lyear-login">
			<div id="bg">
				<div id="anitOut"></div>
			</div>
			<div class="login-center form__content">
                <div class="success-icon">✅</div>
                <h2>安装成功！</h2>
                <p class="success-message">恭喜，网站已经成功完成安装。配置源后和套餐后即可享用~~</p>
                <a href="/admin/login" class="btn-install">前往登录</a><a href="/" class="btn-install">下载APK</a>
                &nbsp;&nbsp;
				<footer class="col-sm-12 text-center">
					<p class="m-b-0">&copy; <span id="year"></span>&nbsp;{{ SiteName }}</p>
				</footer>
			</div>
		</div>
	</div>
</body>
