
{{ template "header" . }}

<style>
        body {
            font-family: "Microsoft YaHei", Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            background: #fff;
            padding: 30px 40px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 8px;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-top: 20px;
        }
        pre {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 5px;
            overflow-x: auto;
        }
        img {
            max-width: 100%;
        }
        .donate {
            text-align: center;
            margin-top: 30px;
        }
        .donate img {
            width: 350px;
            height: 350px;
        }
        .donate p {
            margin-top: 10px;
            font-size: 14px;
            color: #555;
        }
        .install-btn {
            display: inline-block;
            margin-bottom: 20px;
            padding: 10px 20px;
            background-color: #4285f4;
            color: #fff;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .install-btn:hover {
            background-color: #357ae8;
        }
    </style>
<!-- <link href="/static/css/login.css" rel="stylesheet"> -->
<script src="/static/js/login.js"></script>
<body scroll="no" style="overflow-x:hidden">
	<div id="container" class="row lyear-wrapper">
		<div class="lyear-login">
			<div id="bg">
				<div id="anitOut"></div>
			</div>
			<div class="login-center">
				<div>
					<h1 style="text-align: center;">更新记录</h1>
				</div>
				<div>
                    <h5>
						<a href="javascript:void(0)" class="install-btn" onclick="history.go(-1);">
							返回
						</a>
					</h5>
				</div>
				<div id="markdown-content">
					<!-- Markdown 内容将被渲染到这里 -->
				</div>
				<div class="donate">
					<!-- 前往安装按钮 -->
					<p></p> -->
				</div>
				<footer class="col-sm-12 text-center">
					<p class="m-b-0">&copy; <span id="year"></span>&nbsp;{{ SiteName }}</p>
					<p class="copyright m-b-0" style="text-align: center;"><a href="https://www.qingh.xyz" target="_blank">清和博客</a></p>
				</footer>
			</div>
		</div>
	</div>
	<script src="/static/js/marked.min.js"></script>
	<script type="text/javascript">
		const mdContent = `{{ .Content }}`;

        // 渲染 Markdown
        document.getElementById('markdown-content').innerHTML = marked.parse(mdContent);
	// 消息提示示例
	</script>
</body>
