<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>iTuFM电视官网-卫视|在线|电视直播|在线观看|湖南|风云直播|卫视直播|网络|中央电视台|电视直播网</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/static/css/mobilelive.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="mobile-ct-wrapperone">
        <img src="/static/images/wrapperonemobilebg.jpg" />
        {{if .ShowDown }}<a id="downurl" href="{{ .ApkUrl }}" download="{{ .ApkName }}">{{ .ApkName }} (骆驼)</a> {{end}}
        {{if .ShowDownMyTV }}<p><a id="downurl" href="{{ .MyTVUrl }}" download="{{ .MyTVName }}">{{ .MyTVName }}(MyTV)</a></p>{{end}}
        <p><a id="managementurl" href="/admin" management="{{ SiteName }}">{{ SiteName }}</a></p>
    </div>
    <div class="mobile-ct-wrapperthree">
        <img src="/static/images/wrapthreemobilebg.jpg">
    </div>
    <div class="mobile-ct-wrapperfour">
        <img src="/static/images/wrapfourmobilebg.jpg">
    </div>
</body>

</html>

